.map-selected {
    fill: #E3DA37;
  }
  
  .map-unselected {
    fill: #699EAA;
  }
  
  .map-selected:hover, .map-unselected:hover {
    cursor: pointer;
  }

  #top-top {
    display:block;
    background : #ffffff;
    width : 100%;
    height : 150px;
    margin-bottom:20px;
  }

  #top-title {
    text-align : center;
    padding-top : 50px;
    margin-bottom : 28px;
    font-size : 1.9rem;
    color : #000000;
  }



  .Map svg{
    margin-top : 70px;
    width : 700px;
    height : 500px;

  }

  .Map {
    padding-left : 30px;
    padding-right : 30px;
  }

  

/* 
  .country_chart svg {
    width : 1020px;
    height : 580px;
    padding-left : 250px;
    background-color: #699EAA;
  }
   */

    .table {
  
      width : 1000px;
      margin : 0 auto;
      background-color: #ffffff;
    }

    .dashboard {
      padding-bottom: 100px;
      
    }

    
    .dashboard .dash{
      border : 0.4em;
    }

    #todayDate {
      font-size: 2px;
    }

    .middle-chart-1 {
      width : 800px;
      margin : 0 auto;
      margin-top : 100px;
      margin-bottom: 150px;
    }

    .middle-chart-2 {
      width : 800px;
      margin : 0 auto;
      margin-bottom: 150px;
    }

    .rs {
      text-align : right;
      font-size: 13px;
      font-weight: lighter;
    }

    p {
      font-size : 20px;
      text-align: center;
      margin : 0 auto;
      font-weight: bold;
      padding-top: 25px;
      
    }
